{% block header %}

    {% include '@ezdesign/global/header.html.twig' %}

{% endblock %}
<section>
    {% include '@ezdesign/news/category-menu.html.twig' %}
    {% block content %}{% endblock %}
</section>

{% block footer %}

    {% include '@ezdesign/global/footer.html.twig' %}

{% endblock %}