{% block header %}

    {% include 'global/header.html.twig' %}

{% endblock %}

<section>
    {% block content %}{% endblock %}
</section>

{% block footer %}

    {% include 'global/footer.html.twig' %}

{% endblock %}