<div class="menu">
    <button onclick="window.location.href='{{ path('index') }}'">All</button>
    <button onclick="window.location.href='{{ path('category', {'category': 0}) }}'">Local</button>
    <button onclick="window.location.href='{{ path('category', {'category': 1}) }}'">National</button>
</div>
