{% extends '@ezdesign/global/index.html.twig' %}

{% block content %}
<div class="title-wrapper">
    <h2 class="main-title">All news</h2>
    <p class="main-paragraph">Read about our news</p>
</div>
    {{
        render(
            controller('AppBundle:main:getContent', {parentLocationId: 2})
        )
    }}
{% endblock %}
